{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true,
    "meteor": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "import/prefer-default-export": "off",
    "no-restricted-imports": ["error", "@mui/icons-material", "@material-ui/lab"],
    "no-underscore-dangle": "off",
    "react/no-danger": "off",
    "react/jsx-props-no-spreading": "off",
    "react/forbid-prop-types": "off",
    "react/prop-types": "off",
    "no-nested-ternary": "off",
    "prettier/prettier": "error",
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreComments": true
      }
    ]
  }
}
