{
  "public": {
    "keycloakUrl": "",
    "keycloakRealm": "",
    "laboiteHost": "",
    "dataExpirationDelay": 30,
    "defaultFormExpirationDelay": 60,
    "matomo": {
      "siteIdQuestionnaire": 1,
      "urlBase": ""
    }
  },
  "keycloak": {
    "pubkey": "",
    "client": "sso",
    "adminEmails": [""],
    "adminUser": "",
    "adminPassword": ""
  },
  "private": {
    "laboiteApiKey": ""
  }
}