{
  "public": {
    "keycloakUrl": "",
    "keycloakRealm": ""
  },
  "keycloak": {
    "pubkey": "",
    "client": "sso",
    "adminEmails": [""],
    "adminUser": "",
    "adminPassword": ""
  },
  "private": {}
}